body {
    max-width: 100%;
    overflow-x:hidden;
    margin:40px;
    font-family: 'Poppins';
    position: relative;
    background: rgb(110,117,251);
    background: linear-gradient(135deg, rgba(110,117,251,1) 8%, rgba(82,62,174,1) 8%, rgba(69,66,163,1) 23%, rgba(42,36,245,1) 23%, rgba(23,35,98,1) 69%, rgba(1,4,181,1) 69%, rgba(3,11,80,1) 90%, rgba(58,45,93,1) 90%);
}


html {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    font-style: "helvatica";
    margin:0px;
}

#small{
  margin-top: 80px;
}
.mypic{
   border-radius:1.3rem;
}
  
@media screen and (max-width: 600px) {
   #bg {
    display:none;
      
    }
    #small{
      margin-top: 0px;
    }
    body {
      background: rgb(110,117,251);
      background: linear-gradient(228deg, rgba(110,117,251,1) 9%, rgba(82,62,174,1) 9%, rgba(69,66,163,1) 30%, rgba(42,36,245,1) 30%, rgba(128,19,211,1) 55%, rgba(125,20,212,1) 55%, rgba(23,35,98,1) 55%, rgba(1,4,181,1) 56%, rgba(3,11,80,1) 87%, rgba(58,45,93,1) 87%);
      padding: 12px;
      margin: 0px;
    
  }

}
#banner_content {
  background-color: rgba(0, 0, 0, 0);
  
}

::selection {
    background-color: #006af5;
    color: #ffffff;
}

::-moz-selection {
    background-color: #1a66bc;
    color: #ffffff;
}

a {
    text-decoration: none ;
    
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #333333;
}
a{
    text-decoration: none;
    outline: none;
    color: rgb(158, 14, 14);
    
}

b {
    font-weight: 600;
    color: #333333;
}

p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

     li.nav-item a:hover{
    text-decoration: none;
    outline: none;
    color: #333333;
  }
  
 
  
  @media screen and (min-width: 601px) {
    div.example {
      font-size: 1px
    }
  }
 
  hr {
    
    display:block;
    width: 100%;               
    background-color:rgba(255,255, 255, 0.1);
    height: 1px;
  }
  div.hov p.h6 a{
      text-decoration: none;
      outline: none;
      color: rgb(144, 226, 247);
      
  }
  div.hov p.h6 a:hover{
    text-decoration: none;
    outline: none;
    color: rgb(193, 196, 199);
    
}


  #navc{
    background:whitesmoke;
    border-radius: 2rem;
    margin:20px;
  }
  #navi li a{
    text-decoration: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    color:  rgb(255, 255, 255);
    clear:both;
    padding: 10px;
    margin:2px;
  }
  .skill{
    margin-left:20px;
    margin-right: 20px;
  }
  
  @media screen and (max-width: 600px) {
    #navi li a{
      text-decoration: none;
      outline: none;
      font-weight: 600;
      font-size: 16px;
      color:  rgb(255, 255, 255);
      clear:both;
      padding: 10px;
      margin:2px;
    }
    #navc{
      background:white;
      border-style:none;
      
    }
    .skill{
      background-color: #ffffff;
      border-radius: 2rem;
      margin:20px 0px 20px 0px;
      margin-left:0px;
      margin-right: 0px;

    }

   
  }


  #navi li a:focus,a:active{
    text-decoration: none;
    outline: none;
    
  }
  #navi li a:hover{
    
    font-weight: 600;
    color:rgb(255, 255, 255);
    background-color: rgb(118,109,255);
    border-radius: 2.5rem;

  }
  #fontss p {
      font-weight: 700;
      color: #FFFF00;
  }
.email p a{
 text-decoration: none;
 color: #000000;
 font-weight:300;
 
}
.phone p a{
    text-decoration: none;
    color: #000000;
    font-weight:300;
    
   }

   
  
   
   .arrow {
     text-align: center;
     margin: 8% 0;
   }
   .bounce {
     -moz-animation: bounce 2s infinite;
     -webkit-animation: bounce 2s infinite;
     animation: bounce 2s infinite;
   }
   
   @keyframes bounce {
     0%, 20%, 50%, 80%, 100% {
       transform: translateY(0);
     }
     40% {
       transform: translateY(-30px);
     }
     60% {
       transform: translateY(-15px);
     }
   }
   .row:before, .row:after {display: none !important;}
   .social-icon {
    list-style: none;
    padding: 0px;
    padding-left: 0px;
    margin: 0;
    margin-top: 15px;
  }
  
  .social-icon:before,
  .social-icon:after {
    content: " ";
    display: table;
  }
  
  .social-icon li {
    display: inline-block;
    margin: 2px 4px;
  }
  
  .social-icon li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border: 0 none;
    border-radius: 50%;
    font-size: 17px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
  }
  
  .social-icon li a:hover {
     box-shadow: 0px 8px 15px 0px rgba(83, 83, 83, 0.33);
  }
  .social-icon li a:hover {
    color: rgb(255, 255, 255);
  }
  
  .facebook {
     background-color: #3b5998;
  }
  

  .google-plus {
     background-color: #dd4b39;
  }
  
  .instagram {
     background-color: #d636c1;
  }
  
  .linkedin {
     background-color: #0077b5;
  }
  
  .github {
     background-color: #333333;
  }
  
  @media screen and (max-width: 600px) {
      .social-icon {
        text-align: center;
      }

  }
  .text{
     background: linear-gradient(90deg, rgb(87, 76, 243) 30%, rgba(136,243,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cardhov :hover {
    background: linear-gradient(90deg, rgba(118,109,255,1) 30%, rgba(136,243,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(38, 30, 139);
  }
 
 
  .zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


    
